<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">

      <a href="#" class="navbar-brand">Cloudrm</a>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{account.username}} ({{account.email}})</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="collapse navbar-collapse" id="navbar-collapse2">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
